body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #0d57777a, #494b64);
    margin: 0;
  }
  
  .container {
    background-color: #dddddd;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(71, 35, 35, 0.1);
    text-align: center;
    width: 300px;
  }
  
  h1 {
    margin-bottom: 20px;
    color: #1b9141;
  }
  
  .stopwatch {
    font-size: 48px;
    margin-bottom: 20px;
    color: #020304;
  }
  
  .buttons button {
    font-size: 18px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  #startStopBtn {
    background-color: #264e27;
    color: rgb(65, 53, 53);
  }
  
  #startStopBtn:hover {
    background-color: #45a049;
  }
  
  #resetBtn {
    background-color: #4c3a39;
    color: white;
  }
  
  #resetBtn:hover {
    background-color: #1a5347;
  }
  
  #lapBtn {
    background-color: #7e7c4b;
    color: rgb(97, 60, 89);
  }
  
  #lapBtn:hover {
    background-color: #0008f6;
  }
  
  .laps {
    margin-top: 20px;
  }
  
  .laps ul {
    list-style: none;
    padding: 0;
    max-height: 150px;
    overflow-y: auto;
    border: 1px solid #4d303a;
    border-radius: 5px;
    background-color: #787d4b;
  }
  
  .laps li {
    font-size: 18px;
    margin: 5px 10px;
    padding: 5px;
    background-color: #99739a;
    border-bottom: 1px solid #ddd;
    border-radius: 3px;
  }
  
  .laps li:last-child {
    border-bottom: none;
  }